In [3]:
if True:
    print("조건문입니다.")

조건문입니다.

In [4]:
x = 1
y = 1

if x == y:
    print("같습니다.")

같습니다.

In [6]:
x = 1
y = 2

if x == y:
    print("같습니다.")
else:
    print("같지 않습니다.")

같지 않습니다.

In [7]:
x = 3
y = 2

if x == y:
    print("같습니다.")
elif x > y:
    print("x가 큽니다.")
else:
    print("y가 큽니다.")

x가 큽니다.

In [8]:
for n in [1, 2, 3]:
    print(n)

1
2
3

In [9]:
a = [1, 2, 3]
for n in a:
    print(a.index(n), '번쨰 값은', n)

0 번쨰 값은 1
1 번쨰 값은 2
2 번쨰 값은 3

In [10]:
for n in range(5):
    print(n)

0
1
2
3
4

In [11]:
for n in range(5):
    if n == 3:
        break
        
    print(n)

0
1
2

In [12]:
for n in range(10):
    if n % 2 == 1:
        continue
        
    print(n, '=>', n**2)

0 => 0
2 => 4
4 => 16
6 => 36
8 => 64

In [13]:
a = ['aa', 'bb', 'cc']

'aa' in a

True

In [14]:
names = ['엘사', '안나', '스벤', '크리스토프', '울라프']
peoples = ['엘사', '안나', '크리스토프']

for each in names:
    if each in peoples:
        print(each, ': 사람입니다.')
    else:
        print(each, ': 사람의 친구입니다.')

엘사 : 사람입니다.
안나 : 사람입니다.
스벤 : 사람의 친구입니다.
크리스토프 : 사람입니다.
울라프 : 사람의 친구입니다.

In [15]:
t = [1, 2, 3, 4, 5]
y = []
for n in t:
    y.append(n**2)
    
y

[1, 4, 9, 16, 25]

In [16]:
t = [1, 2, 3, 4, 5]
y = []

for n in t:
    y.append(n**2)
    
y

[1, 4, 9, 16, 25]

In [17]:
t = [1, 2, 3, 4, 5]
y = [n**2 for n in t]
y

[1, 4, 9, 16, 25]