### Gmarket
- 베스트상품 200개 데이터 수집

In [82]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [83]:
# url 
url = "http://corners.gmarket.co.kr/Bestsellers"

In [84]:
# request&response
response = requests.get(url)
response

In [85]:
# 3. beautifulsoup
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

In [86]:
best_200 = soup.select('#gBestWrap > div > div:nth-child(5) > div > ul > li')
len(best_200)

200

In [87]:
# css selector
one = best_200[1]
title = one.select_one(".itemname").text
link = one.select_one(".itemname").get("href")
o_price = one.select_one(".o-price").text.replace(",", "")
o_price = o_price[2:-1]
s_price = one.select_one(".s-price").text.strip().split("\n")[0].replace(",","")
s_price = s_price[3:-1]
title, link, o_price, s_price

('[스파클]스파클생수 500ml 100병',
 'http://item.gmarket.co.kr/Item?goodscode=2584905546&ver=638000117120419360',
 '35800',
 '17900')

In [88]:
# 전체 상품 수집

datas = []

for item in best_200:
    datas.append({
        "title": item.select_one(".itemname").text,
        "link": item.select_one(".itemname").get("href"),
        "o_price": item.select_one(".o-price").text.replace(",","")[2:-1],
        "s_price": item.select_one(".s-price").text.strip().split("\n")[0].replace(",","")[3:-1],
    })

df = pd.DataFrame(datas)
df.tail()

,title,link,o_price,s_price
195,[나이키]드라이핏 파크20 팬츠(BV6877-010),http://item.gmarket.co.kr/Item?goodscode=20246...,31000,25950
196,[삐아]삐아 BEST 라스트 벨벳 립 틴트 1+1 특가,http://item.gmarket.co.kr/Item?goodscode=24953...,27000,13500
197,(할인특가)도서출판무지개-NEW최신판 추피의생활이야기 증간본포함 총174종: 세이펜호환,http://item.gmarket.co.kr/Item?goodscode=25103...,262120,212120
198,[해피바스]해피바스 스마일 바디워시900g 3종세트 유자/체리/자몽,http://item.gmarket.co.kr/Item?goodscode=20999...,17200,15000
199,[프롬산타]무료반품 3+1 균일가 양말 발목 중목 장목 정장 패션 학생 남성 여성 ...,http://item.gmarket.co.kr/Item?goodscode=11071...,46300,13900

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    200 non-null    object
 1   link     200 non-null    object
 2   o_price  200 non-null    object
 3   s_price  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [90]:
# data preprocessing

In [91]:
# null data 
df.loc[df['o_price'] == '', 'o_price'] = df['s_price']
df.head()

,title,link,o_price,s_price
0,[일리]illy 일리 네스프레소 호환 커피 캡슐 인텐소 디카페인 룽고 포르테 클라시...,http://item.gmarket.co.kr/Item?goodscode=25950...,51900,51900
1,[스파클]스파클생수 500ml 100병,http://item.gmarket.co.kr/Item?goodscode=25849...,35800,17900
2,CJ 비비고 만두 10봉 모음 (왕교자/김치왕교자/매운왕교자/한섬만두/수제진한고기 ...,http://item.gmarket.co.kr/Item?goodscode=22072...,28410,28410
3,[비비고][CJ직배송] 비비고사골곰탕 500G X 18개(1BOX),http://item.gmarket.co.kr/Item?goodscode=18240...,24000,18000
4,[토닉워터]토닉워터 홍차 제로 300mlx24펫 키이즈백,http://item.gmarket.co.kr/Item?goodscode=25781...,39800,19900

In [92]:
# data type str -> float 
df['o_price'] = df['o_price'].astype('float')
df.head()

,title,link,o_price,s_price
0,[일리]illy 일리 네스프레소 호환 커피 캡슐 인텐소 디카페인 룽고 포르테 클라시...,http://item.gmarket.co.kr/Item?goodscode=25950...,51900.0,51900
1,[스파클]스파클생수 500ml 100병,http://item.gmarket.co.kr/Item?goodscode=25849...,35800.0,17900
2,CJ 비비고 만두 10봉 모음 (왕교자/김치왕교자/매운왕교자/한섬만두/수제진한고기 ...,http://item.gmarket.co.kr/Item?goodscode=22072...,28410.0,28410
3,[비비고][CJ직배송] 비비고사골곰탕 500G X 18개(1BOX),http://item.gmarket.co.kr/Item?goodscode=18240...,24000.0,18000
4,[토닉워터]토닉워터 홍차 제로 300mlx24펫 키이즈백,http://item.gmarket.co.kr/Item?goodscode=25781...,39800.0,19900

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    200 non-null    object
 1   link     200 non-null    object
 2   o_price  200 non-null    float64
 3   s_price  200 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.4+ KB